{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'untitled.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bulma.css' %}" type="text/css">
    <title>Expense Tracker</title>
</head>

<body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>2099 Expense Tracker</strong>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                {% if user.is_authenticated %}
                    <a class="navbar-item button is-primary" href="{% url 'expenses:expenses' %}">View Expenses</a>
                {% else %}
                {% endif %}
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    {% if user.is_authenticated %}
                        <form action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button class="button is-dark" type="submit">Sign Out</button>
                        </form>
                    <span>Hello, {{user.username}}</span>
                    {% else %}
                    <a class="button" href="{% url 'accounts:login' %}">Sign In</a>
                    <a class="button is-dark" href="{% url 'accounts:register' %}">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </section>

</body>

</html>
