{% extends 'expenses/base.html' %}

{% block content %}
{# Page title using Bulma's typography classes. title = big, subtitle = smaller follow-up. #}
<h1 class="title is-3">Your Expenses</h1>
<h2 class="subtitle is-6 has-text-grey">A log of every dollar that fled your wallet</h2>

<div class="columns is-multiline">
    {% for expense in expenses %}
    <div class="column is-one-third">
        <div class="card">
            <div class="card-content">
                <div class="content is-size-1">
                    ${{ expense.amount }}
                </div>
                <div class="content is-size-3">{{ expense.description|truncatechars:15 }}</div>
            </div>
            <div class="content">
                <span class="card-footer-item is-size-7 ">Created at: {{expense.updated_at|date:"Y-m-d"}} | Updated at: {{expense.updated_at|date:"Y-m-d"}}</span>

            </div>
        </div>
    </div>
    {% empty %}
    <div class="column is-full">
        <div class="notification is-warning is-light">
            No expenses added yet…
        </div>
    </div>
    {% endfor %}
</div>
<div class="bottom-right-element is-pulled-right">
    <a class= "button is-primary" href="{% url 'expenses:new_expense' %}">Add an Expense</a>
</div>
{% endblock content %}
